* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
  font-family: Helvetica;
}

canvas{
  display: none;
}

#backgroundSetup{
  overflow: hidden;
  box-sizing: border-box;
  top: 0;
  height: 100%;
  text-align: center;
}

.bgSelect{
  display: inline-block;
  float: left;
  width: 33%;
  min-height: 100%;
}

#setBgBlack{
  background-color: black;
}

#setBgWhite{
  background-color: white;
}

#setBgGrey{
  background-color: #333;
  float: right;
}

/* Image for saving */

#saveImage{
  z-index: 3;
}

/* Menu stuff */

#start{
  font-size: 1.6em;
  display: none;
  background-color: #111;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 5%;
  height: 50px;
  z-index: 2;
  border-top: 1px solid #555;
  padding: 5px;
  -webkit-transition: all 0.4s ease;
  color: #aaa;
}

#start.up{
  height: 35px;
  border-right: 1px solid #555;
  border-top-right-radius: 10px;
}

#start:before{
  content: '▲';
}

#start.down:before{
  content: '▼';
}

#menu{
  font-size: 2.4em;
  color: #aaa;
  text-align: center;

  position: fixed;
  margin: 0 2% 0 5%;
  bottom: 0;
  height: 50px;
  z-index: 2;
  border-top-right-radius: 10px;
  border: 1px solid #555;
  border-bottom: none;
  width: 93%;
  background-color: #111;
  box-sizing: border-box;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease;
  -webkit-transform: scaleX(1);
}

#menu.hidden{
  -webkit-transform: scaleX(0);
  bottom: -50px;
}

#menu .active{
  color: #fff;
}

.tool{
  width: 30px;
  margin: 0 5px;
  float: left;
}

.color, .size{
  border-radius: 15px;
  width: 30px;
  height: 30px;
  margin: 10px 5px;
  float: left;
  box-shadow: inset 1px 1px 2px #777;
}

.color.active{
  border: 3px solid #FFF;
  box-shadow: none;
}

#rainbow{
  background: -moz-linear-gradient(top, #ff0000 0%, #2b32ff 100%);
  background: -webkit-linear-gradient(top, #ff0000 0%,#2b32ff 100%);
  background: linear-gradient(top, #ff0000 0%,#2b32ff 100%);
}

.size{
  background-color: #aaa;
}

.size.active{
  background-color: #fff;
}

#smallSize{
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

#mediumSize{
  height: 26px;
  width: 26px;
  border-radius: 13px;
}

#bigSize{
  height: 36px;
  width: 36px;
  border-radius: 18px;
}

#reset, #saving{
  float: right;
  color: white;
  font-weight: 900;
  margin-left: 10px;
}

.separator{
  height: 100%;
  border-left: 1px solid #555;
  float: left;
  margin: 0 10px;
}

/* Animations */

@-webkit-keyframes spindown {
   from {
     -webkit-transform: rotate(0deg) translateX(0%);
     margin-left: 5%;
   }
   to{
     -webkit-transform: rotate(90deg) translateX(52%);
     margin-left: -50%;
   }
}

/* retina and ipad */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px){
  body{
    font-size: 32px;
  }
  #start, #menu{
    height: 100px;
  }

  #start.up{
    height: 70px;
  }

  .color, .size, .tool{
    width: 60px;
    height: 60px;
  }

  .color, .size{
    margin: 20px 10px;
  }

  #smallSize{
    height: 40px;
    width: 40px;
    border-radius: 20px;
  }

  #mediumSize{
    height: 52px;
    width: 52px;
    border-radius: 26px;
  }

  #bigSize{
    height: 72px;
    width: 72px;
    border-radius: 36px;
  }
}

/* Unsupported page */

#sorry{
  text-align: center;
  padding-top: 20%;
}