* {
  margin: 0; 
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
  font-family: Helvetica;
}

canvas{
  display: none;
}

#backgroundSetup{
  overflow: hidden;
  box-sizing: border-box;
  top: 0;
  height: 100%;
  text-align: center;
}


.bgSelect{
  display: inline-block;
  width: 33%;
  min-height: 100%;
}

#setBgBlack{
  background-color: black;
}

#setBgWhite{
  background-color: white;
}

#setBgGrey{
  background-color: #333;
}

/* Menu stuff */

#start{
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  z-index: 2;
  border-top-right-radius: 50px;
  background-color: red;
  opacity: 0.1;
}

#menu{
  position: fixed;
  margin: 0 5%;
  bottom: 0;
  height: 50px;
  z-index: 2;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid #555;
  border-bottom: none;
  width: 90%;
  background-color: #111;
  box-sizing: border-box;
  padding: 0 10px;
}

.color, .size{
  border-radius: 15px;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  margin: 10px 5px;
  float: left;
  color: white;
  text-align: center;
  font-size: 150%;
}

.color.active{
  border: 2px solid #FF0;
}

.size{
  background-color: #aaa;
}

.size.active{
  background-color: #fff;
}

#smallSize{
  height: 16px;
  width: 16px;
  border-radius: 8px;
}

#mediumSize{
  height: 24px;
  width: 24px;
  border-radius: 12px;
}

#bigSize{
  height: 36px;
  width: 36px;
  border-radius: 18px;
}

#reset{
  float: right;
  font-size: 220%;
  color: white;
  font-weight: 900;
}
.separator{
  height: 100%;
  border-left: 1px solid #555;
  float: left;
  margin: 0 10px;
}

/* Unsupported page */

#sorry{
  text-align: center;
  padding-top: 20%;
}
